.main {
    max-width: 1000px;
    margin: auto;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  padding: 32px 12px;
}

.section > * {
  max-width: 460px;
}

.sectionTitle {
  font-weight: 600;
}
